<mat-card-content>
  <img mat-card-image src="{{ pokeImg }}" alt="pokemon" />

  <hr />

  <p>Height:</p>
  <mat-chip-list>
    <mat-chip selectable="false"> {{ pokeHeight }}m (metric) </mat-chip>
    <mat-chip selectable="false"> {{ pokeHeight | feet: 'dm' }} (imp)</mat-chip>
  </mat-chip-list>

  <hr />

  <p>Weight:</p>
  <mat-chip-list>
    <mat-chip selectable="false"> {{ pokeWeight }}kg (metric) </mat-chip>
    <mat-chip selectable="false"> {{ pokeWeight | pound: 'hg':1 }} (imp)</mat-chip>
  </mat-chip-list>

  <hr />

  <p>Ability:</p>
  <mat-chip-list>
    <ng-container *ngFor="let ability of pokeAbility">
      <mat-chip selectable="false">{{ ability }}</mat-chip>
    </ng-container>
  </mat-chip-list>

  <hr />

  <p>Stats:</p>
  <mat-chip-list>
    <ng-container *ngFor="let pokeStat of pokeStats">
      <mat-chip selectable="false">{{ pokeStat }}</mat-chip>
    </ng-container>
  </mat-chip-list>

  <hr />

  <button
    mat-raised-button
    color="primary"
    (click)="toggleBadgeVisibility()"
    mat-raised-button
    color="primary"
    matBadge="4"
    matBadgePosition="after"
    matBadgeColor="accent"
    class="md-button"
  >
    Four Random Moves
    <i class="far fa-caret-square-down"></i>
  </button>

  <ng-template [ngIf]="hidden">
    <mat-chip-list aria-label="Color selection" *ngFor="let move of pokeRandomFourMoves">
      <mat-chip selectable="false">
        {{ move }}
      </mat-chip>
    </mat-chip-list>
  </ng-template>
</mat-card-content>
