<mat-form-field>
  <mat-label>Filter</mat-label>
  <input
    matInput
    (keyup)="applyFilter($event)"
    placeholder="Search pokemon name..."
    #input
  />
</mat-form-field>

<div class="pokemon-grid">
  <div
    class="box"
    *ngFor="let element of this.dataSource.filteredData"
    (click)="this.getCard(this.element)"
  >
    <img [src]="element.image" alt="pokemon" />
    <h2>{{ element.name | uppercase }}</h2>
    <p><b>Number: </b> {{ element.id }}</p>
    <p><b>Type: </b> {{ element.type }}</p>
  </div>
</div>
<mat-paginator #paginator [pageSizeOptions]="[5, 10, 25]"></mat-paginator>

<!-- *ngFor="let element of this.dataSource.filteredData> If this does not solve the issue, try
to access the data and not the filtered data: *ngFor="let element of dataSource.data">
*ngFor="let element of this.dataSource.filteredData" -->
