// Card Grid

.card-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  grid-gap: 1rem;
  min-height: 750px;
  mat-card {
    transition: box-shadow 0.3s;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0.5rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    height: 280px;
    &:hover {
      cursor: pointer;
      box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
    }
  }
}

.main-container {
  margin: 15px;
}
