@import '../../../../assets/styles/variables.scss';

.header-image {
  //   background-size: cover;
}

.mat-card-header {
  background-color: $white;
  padding: 10px;
  border-radius: 10px;
}

.mat-card-title {
}
